body {
  margin: 0;
}

.logo-header {
  height: 80px;
  margin-left: 20;
  margin-top: 5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
}

.header-middle ul,
.header-end ul {
  display: flex;
  gap: 20px;
}
.header-item {
  margin: 20px;
  list-style-type: none;
  cursor: pointer;
  color: #fff;
}
.header-item:hover {
  color: #ff6101;
}
/* #ff6101 amazon icon */
/* #03788a  bg*/

.bestseller-heading {
  background-color: #03788a;
  color: white;
  padding: 1px;

  text-align: center;
}
h1 {
  font-size: 61px;
  margin-bottom: 10px;
}
h4 {
  font-size: 18px;
}
